.navbar {
  background: $c-primary;
  padding: 1rem;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: $m-max-width;
  }

  &__link {
    color: $c-white;
  }
}

.-home {
  font-family: 'Pacifico', sans-serif;
  font-size: 20px;
}