.recipe {
  display: flex;
  margin: 1rem 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    width: 40%;
    height: 15rem;
    object-fit: cover;
  }

  &__name {
    margin: 0 0 0.5rem;
  }
  &__info {
    padding: 0 1rem;
  }
  &__directions {
    list-style: decimal;
  }
}